@media screen and (max-width: 1140px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}
}

@media screen and (max-width: 1000px) {
	h1 { font-size: 36px; }
}

@media screen and (max-width: 992px) {
	.service-item {
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 767px) {
	body.lock { overflow: hidden; } /* При открытом меню не скроллить экран */
	.header-body {}
	.header-burger {
		display: block;
		position: relative;
		width: 20px;
		height: 16px;
		z-index: 4;
	}
	.header-burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		top: 7px;
		width: 100%;
		height: 2px;
	}
	.header-burger::before,
	.header-burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.header-burger::before { top: 0; }
	.header-burger::after { bottom: 0; }
	.header-menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		/*height: 100%;*/
		background-color: #5b5c5d;
		padding-top: 60px;
		padding-left: 20px;
		overflow: auto;
	}
	.header-menu.active { top: 0; }
	.header-list {
		display: block;
	}
	.header-list li {
		margin-bottom: 20px;
	}
	.header-burger.active::before {
		transform: rotate(45deg);
		top: 7px;
	}
	.header-burger.active::after {
		transform: rotate(-45deg);
		bottom: 7px;
	}
	.header-burger.active span {
		transform: scale(0);
	}
	.footer-menu { display: block; }
	.footer-menu li {
		display: block;
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

@media screen and (max-width: 700px) {
	h1 { font-size: 30px; }
	.vacancy-content { width: 100%; }
}

@media screen and (max-width: 576px) {
	h1 { font-size: 26px; }
	.fz18 { font-size: 15px; }
	.about-block { padding: 10px; }
}

@media screen and (max-width: 500px) {
	h1 { font-size: 22px; }
	.fz15 { font-size: 12px; }
}

